/* Game */
body {
    background:url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-family: 'courier new', Courier, monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

canvas {
    background-color: #fbf4cc;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    font-size: 3.5em;
    color: #242323;
    background-color: #f3e9b2;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 230px;
}

p {
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 300px;
}	

#resetButton {
    font-size: 1.6em;
    font-family: 'courier new', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    background-color: #EF9DE9;
    border: none;
    padding: 15px 25px;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 20px;
    top: 340px;
}

#resetButton:hover {
    background-color: #F7C5F7;
}

@media (max-width: 768px) {
    canvas {
        width: 70%;
        height: 50%;
        border: 3px solid black;
    }

    h1 {
        font-size: 2.5em;
        top: 120px;
    }
    p {
        font-size: 1.2em;
        top: 180px;
        color: #f3e9b2;
    }
    #resetButton {
        font-size: 1.2em;
        padding: 10px 20px;
        top: 210px;
    }
}

